<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.roofexpertsapp" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectorPage"
            android:label="@string/title_activity_selector_page" >
        </activity>
        <activity
            android:name=".EmailActivity"
            android:label="@string/title_activity_email" >
        </activity>
        <activity
            android:name=".ClientPage"
            android:label="@string/title_activity_client_page" >
        </activity>
        <activity
            android:name=".PersonalInfo"
            android:label="@string/title_activity_personal_info" >
        </activity>
        <activity
            android:name=".TabbedView"
            android:label="Tabbed View" >
        </activity>
        <activity
            android:name=".Toolbar"
            android:label="@string/title_activity_toolbar" >
        </activity>
        <activity
            android:name=".ToolbarTabs"
            android:label="@string/title_activity_toolbar_tabs" >
        </activity>
    </application>

</manifest>
